@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown h2 {
  @apply text-2xl;
}

.markdown-footer img {
  @apply h-44 w-44;
}
.markdown a {
  @apply text-purple-700 hover:text-purple-400;
}

.a-underline a {
  @apply underline hover:opacity-70;
}

@media print {
  html,
  body,
  body > div {
    width: 8.5in;
    height: 12in;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
